<h4>Formularios logica data</h4>
<hr> 
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div formGroupName="nombreCompleto">

    <div class="form-group row" [ngClass]="{'has-danger': forma.get('nombreCompleto.nombre').invalid && forma.get('nombreCompleto.nombre').touched }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre">
              <div *ngIf="forma.get('nombreCompleto.nombre').errors?.required && forma.get('nombreCompleto.nombre').touched"
                class="form-control-feedback">
                   El nombre es requerido
               </div>
               <div *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength && forma.get('nombreCompleto.nombre').touched"
               class="form-control-feedback">
                   Por lo menos 3 caracteres
               </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': forma.get('nombreCompleto.apellido').invalid && forma.get('nombreCompleto.apellido').touched }">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">
        <div *ngIf="forma.get('nombreCompleto.apellido').errors?.required && forma.get('nombreCompleto.apellido').touched"
               class="form-control-feedback">
                  El apellido es requerido
        </div>
        <div *ngIf="forma.get('nombreCompleto.apellido').errors?.minlength && forma.get('nombreCompleto.apellido').touched"
              class="form-control-feedback">
                  Por lo menos 3 caracteres
        </div>
        <div *ngIf="forma.get('nombreCompleto.apellido').errors?.noherrera"
              class="form-control-feedback">
                  El apellido no puede ser herrera
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger': forma.get('email').invalid && forma.get('email').touched }">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email">
        <div *ngIf="forma.get('email').errors?.required && forma.get('email').touched"
             class="form-control-feedback">
                El email es requerido
      </div>
      <div *ngIf="forma.get('email').errors?.pattern && forma.get('email').touched"
             class="form-control-feedback">
                Debe ser un correo valido
      </div>
    </div>
  </div>

  <div class="form-group row" [ngClass]="{'has-danger': forma.get('username').invalid && forma.get('username').touched }">
        <label class="col-2 col-form-label">username</label>
        <div class="col-md-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="usuario"
                 formControlName="username">
                <div *ngIf="forma.get('username').errors?.required && forma.get('username').touched"
                class="form-control-feedback">
                El usuario es requerido 
                </div>
                <div *ngIf="forma.get('username').errors?.existe && forma.get('username').touched"
                class="form-control-feedback">
                El usuario ya existe
                </div>
                <div *ngIf="forma.status === 'PENDING'"
                class="form-control-feedback">
                Consultando usuario...
                </div>
        </div>
  </div>

  <div class="form-group row" [ngClass]="{'has-danger': forma.get('password1').invalid && forma.get('password1').touched }">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">
    
          <input class="form-control"
                 type="password"
                 placeholder="contraseña"
                 formControlName="password1">
            <div *ngIf="forma.get('password1').errors?.required && forma.get('password1').touched"
                 class="form-control-feedback">
                 La contraseña es requerida 
            </div>
        </div>
  </div>

  <div class="form-group row" [ngClass]="{'has-danger': forma.get('password2').invalid && forma.get('password2').touched }">
        <label class="col-2 col-form-label">Repetir password</label>
        <div class="col-md-8">
    
          <input class="form-control"
                 type="password"
                 placeholder="Repetir contraseña"
                 formControlName="password2">
            <div *ngIf="forma.get('password2').errors?.required && forma.get('password2').touched"
                 class="form-control-feedback">
                Debe confirmar la contraseña
            </div>
            <div *ngIf="forma.get('password2').errors?.noiguales && forma.get('password2').touched && forma.get('password1').value"
            class="form-control-feedback">
           Las contraseñas no coinciden
       </div>
        </div>
  </div>



  <div class="form-group row">
        <label class="col-2 col-form-label">Pasa Tiempos</label>
        <div class="col-md-8"  formArrayName="pasaTiempos">
            <input *ngFor="let pasatiempo of forma.controls['pasaTiempos'].controls; let i = index"
            [formControlName]="i"
            class="form-control"
            type="text">
        </div>

        <button type="button" class="btn btn-primary" (click)="agregarPasatiempo()">Nuevo</button>
  </div>




  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button  (click)="limpiar()"
          class="btn btn-outline-info">
            Limpiar
          </button>
        </div>
      </div>

</form>

<br>
<pre>Estado del formulario {{forma.status}}</pre>
<pre>Validacion del formulario {{forma.valid}}</pre>
