<h4>Formularios logica data</h4>
<hr> 
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div formGroupName="nombreCompleto">

    <div class="form-group row" [ngClass]="{'has-danger': forma.get('nombreCompleto.nombre').invalid }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre">
              <div *ngIf="forma.get('nombreCompleto.nombre').errors?.required"
                class="form-control-feedback">
                   El nombre es requerido
               </div>
               <div *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength"
               class="form-control-feedback">
                   Por lo menos 3 caracteres
               </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email">
    </div>
  </div>

  <div class="form-group row">
        <label class="col-2 col-form-label">username</label>
        <div class="col-md-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="usuario"
                 formControlName="username">
        </div>
  </div>

  <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">
    
          <input class="form-control"
                 type="password"
                 placeholder="contraseña"
                 formControlName="password1">
        </div>
  </div>

  <div class="form-group row">
        <label class="col-2 col-form-label">Repetir password</label>
        <div class="col-md-8">
    
          <input class="form-control"
                 type="password"
                 placeholder="Repetir contraseña"
                 formControlName="password2">
        </div>
  </div>



  <div class="form-group row">
        <label class="col-2 col-form-label">Pasa Tiempos</label>
        <div class="col-md-8"  formArrayName="pasaTiempos">
            <input *ngFor="let pasatiempo of forma.controls['pasaTiempos'].controls; let i = index"
            [formControlName]="i"
            class="form-control"
            type="text">
        </div>

        <button type="button" class="btn btn-primary" (click)="agregarPasatiempo()">Nuevo</button>
  </div>




  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button  (click)="limpiar()"
          class="btn btn-outline-info">
            Limpiar
          </button>
        </div>
      </div>

</form>

<br>
<pre>Estado del formulario {{forma.status}}</pre>
<pre>Validacion del formulario {{forma.valid}}</pre>
